<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Hyderabad Police">

	<test name="Hyderabad Police Login and Logout Scenario">
		<classes>
			<class name="test_Cases.TestCase_001"></class>
		</classes>
	</test>	

</suite> <!-- Suite -->
